#modal_window.ui.modal
	.header My Modal
	.image.content
		.description Testing Description
	.actions
		.ui.button((click)="closeModal()") Cancel
		.ui.button((click)="closeModalOk()") Ok

div
	.pusher
		.ui.inverted.vertical.masthead.center.aligned.segment
			.ui.container
				.ui.large.secondary.inverted.pointing.menu
					a.toc.item
						i.sidebar.icon
					a.active.item([routerLink]="['First']") First
					a.item([routerLink]="['Second']") Second
					a.item Company
					a.item Careers
					.right.item
						a.ui.inverted.button Log in
						a.ui.inverted.button Sign Up
			.ui.text.container
				h1.ui.inverted.header
					| First Page
				h2 {{ time }}
				.ui.huge.primary.button((click)="openModal()")
					| Open Modal
					i.right.arrow.icon
		.ui.vertical.stripe.segment
			.ui.middle.aligned.stackable.grid.container
				.row
					.eight.wide.column
						h2.ui.header Users
						button.ui.button((click)="insertUser()") Add New User
						.ui.labeled.input
							.ui.label Limit
							input(type="text", #limit="", (keyup)="onLimitChanged(limit.value)")
						table.ui.celled.table
							thead
								tr
									th User Id
									th Username
									th E-mail
									th Actions
							tbody
								tr(*ngFor="#user of users")
									td {{ user.userId }}
									td {{ user.username }}
									td {{ user.email }}
									td
										button.ui.icon.button.red((click)="removeUser(user.userId)")
											i.remove.icon
					.six.wide.right.floated.column
						img.ui.large.bordered.rounded.image(src="/images/red-image.png")
				.row
					.center.aligned.column
						a.ui.huge.button Check Them Out
		.ui.vertical.stripe.quote.segment
			.ui.equal.width.stackable.internally.celled.grid
				.center.aligned.row
					.column
						h3 "What a Company"
						p That is what they all say about us
					.column
						h3 "I shouldn't have gone with their competitor."
						p
							img.ui.avatar.image(src="/images/nan.jpg")
							b Nan
							|	Chief Fun Officer Acme Toys
		.ui.vertical.stripe.segment
			.ui.text.container
				h3.ui.header Breaking The Grid, Grabs Your Attention
				p
					| Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.
				a.ui.large.button Read More
				h4.ui.horizontal.header.divider
					a(href="#") Case Studies
				h3.ui.header Did We Tell You About Our Bananas?
				p
					| Yes I know you probably disregarded the earlier boasts as non-sequitor filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.
				a.ui.large.button I'm Still Quite Interested
		.ui.inverted.vertical.footer.segment
			.ui.container
				.ui.stackable.inverted.divided.equal.height.stackable.grid
					.three.wide.column
						h4.ui.inverted.header About
						.ui.inverted.link.list
							a.item(href="#") Sitemap
							a.item(href="#") Contact Us
							a.item(href="#") Religious Ceremonies
							a.item(href="#") Gazebo Plans
					.three.wide.column
						h4.ui.inverted.header Services
						.ui.inverted.link.list
							a.item(href="#") Banana Pre-Order
							a.item(href="#") DNA FAQ
							a.item(href="#") How To Access
							a.item(href="#") Favorite X-Men
					.seven.wide.column
						h4.ui.inverted.header Footer Header
						p
							| Extra space for a call to action inside the footer that could help re-engage users.